<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by name"
             [(ngModel)]="name"/>
      <button class="btn btn-outline-secondary" type="button"
              (click)="searchName()"> Search
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <h4>SuperHeroes List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let heroe of heroes;
          let i = index" [class.active]="i == currentIndex"
          (click)="setActiveHeroe(heroe, i)">
        {{heroe.name}}
      </li>
    </ul>
    <button class="m-3 btn btn-sm btn-danger"
            (click)="removeAllHeroes()">Remove All
    </button>
  </div>

  <div class="col-md-6">
    <div *ngIf="currentHeroe.id">
      <h4>Heroe</h4>
      <div>
        <label><strong>Name: </strong></label> {{currentHeroe.name}}
      </div>
      <div>
        <label><strong>Short Name: </strong></label> {{currentHeroe.short_name}}
      </div>
      <div>
        <label><strong>Alt Name: </strong></label> {{currentHeroe.alt_name}}
      </div>
      <div>
        <label><strong>Role: </strong></label> {{currentHeroe.role}}
      </div>
      <div>
        <label><strong>New Role: </strong></label> {{currentHeroe.new_role}}
      </div>
      <div>
        <label><strong>Type: </strong></label> {{currentHeroe.type}}
      </div>
      <div>
        <label><strong>Release Date : </strong></label> {{currentHeroe.release_date}}
      </div>
      <div>
        <label><strong>Rework Date: </strong></label> {{currentHeroe.rework_date}}
      </div>
      <div>
        <label><strong>Attribute Id: </strong></label> {{currentHeroe.attribute_id}}
      </div>
      <div *ngIf="currentHeroe.translations">
        <label><strong>translations: </strong></label>
        <span *ngFor="let translation of currentHeroe.translations">
          {{translation}}, </span>
      </div>

      <a class="badge bg-warning" routerLink="/heroes/{{currentHeroe.id}}">Edit</a>
    </div>

    <div *ngIf="!currentHeroe">
      <br/>
      <p>Please click on a Heroe...</p>
    </div>
  </div>
</div>

